/* Feuille de style pour le projet 3 Ohmyfood ! */

html {
  text-size-adjust: 100%; /* Determine ajustement taille police par rapport à sa taille initiale*/
  font-size: 100%; /*Tous mes éléments utilisant l’unité de mesure REM, auront une taille relative à cette taille (100% dans le cas présent)*/
}

body,
html {
  /* font-family: 'Roboto', sans-serif;*/
  margin: 0;
  padding: 0;
}
/*loader*/
.loader_block {
  position: fixed;
  height: 100%;
  width: 100%;
  animation: loader 0.01s;
  animation-delay: 1.75s;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  background: transparent;
}

.loader {
  border: 10px solid grey;
  border-top: 10px solid rgb(136, 81, 201);
  border-left: 10px solid rgb(147, 226, 209);
  border-right: 10px solid rgb(147, 226, 209);
  border-bottom: 10px solid rgb(255, 121, 213);
  border-radius: 50%;
  width: 100px;
  height: 100px;
  margin: auto;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  animation: spin 3s linear;
  animation-fill-mode: forwards;
  animation-delay: 0.2s;
  background-color: rgb(245, 147, 237);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
/*End loader*/

h1,
h3 {
  font-family: "Shrikhand", cursive;
}
a,
p {
  font-family: "Roboto", sans-serif;
}

/* HEADER */
.header {
  padding: 1rem;
  box-shadow: 0 0 0.5rem rgb(0 0 0 / 25%);
  position: relative;
  z-index: 10;
}
/*Fin header*/

main {
  margin: auto;
  display: block; /*valeur par défaut, elements les un en dessous de autres, oblige à revenir à la ligne*/
  justify-content: flex-start; /*Indique la façon dt l'espace doit etre réparti entre et autour des élements selon l'axe principal*/
  width: 100%;
}
#logo-ohmyfood {
  display: block;
  margin: auto;
}
/*First section*/
#first-section {
  width: 100%;
  font-size: 1.2rem;
  /*font-family: 'Roboto', sans-serif;
    font-family: 'Shrikhand', cursive;*/
}
#city {
  display: flex;
  align-items: center;
  border-style: none;
  cursor: pointer;
  width: 100%;
  justify-content: center;
  background-color: #f3f3f3;
}
.fas.fa-map-marker-alt {
  padding: 1rem 1.25rem;
  border-radius: 20px 0 0 20px;
  text-align: center;
}
#paris {
  font-family: "Roboto", sans-serif;
  text-align: center;
  border-style: none;
  font-weight: 900;
}
#grey {
  /* background-color: #fafafa;*/
  background-color: pink;
  padding: 2rem;
  text-align: center;
}
#reservez {
  margin: 0;
}
#decouvrez {
  font-weight: 300;
  margin: 1.5rem 0;
}
#explorer {
  display: flex;
  width: 60%;
  max-width: 100%;
  cursor: pointer;
  align-items: center;
  border-radius: 30px;
  border: #f2f2f2 0.2rem solid;
  padding: 8px;
  height: 49px;
  justify-content: center;
  font-size: 1.1rem;
  font-weight: bold;
  background-color: #ff79da;
  margin: auto;
}
#first-ancre {
  text-decoration: none;
  color: white;
}
/*End first section*/

/*seconde section*/
#second-section {
  font-size: 1.2em;
  font-weight: bold;
  padding-top: 45px;
  margin-bottom: 20px;
  margin: 5%;
}
.listing {
  display: flex;
  align-items: center;
  max-width: 100%;
  margin-top: 4%;
}
.a-deuxieme-section {
  text-decoration: none;
  color: black;
  background-color: #f6f6f6;
  align-self: center;
  margin-bottom: 25px;
  height: 75px;
  width: 100%;
  border-radius: 24px;
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  box-shadow: 2px 2px 6px #aaa;
  margin-left: 10px;
}
.number {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #9356dc;
  color: white;
  cursor: pointer;
  justify-content: center;
  width: 25px;
  height: 25px;
  border-radius: 28px;
  font-size: 0.9em;
  left: -10px;
  position: relative;
}
.fas.fa-mobile-alt,
.fas.fa-list,
.fas.fa-store.logo_menu {
  position: relative;
  left: 30px;
}
.choice {
  /*margin-top: 0;*/
  display: flex;
  max-width: 100%;
  cursor: pointer;
  align-items: center;
  font-size: 1.1rem;
  font-weight: bold;
  margin: auto;
}
/*End first section*/

/*third section*/
#third-section {
  font-size: 1.2em;
  padding-top: 45px;
  margin-bottom: 20px;
  margin: auto;
  background-color: #f6f6f6;
}
#restaurant {
  margin-left: 5%;
}
.backround {
  width: 90%;
  margin: 5%;
  cursor: pointer;
  border-radius: 30px;
  background: white;
  box-shadow: 2px 2px 5px #aaaaaa; /*ombres*/
  padding-bottom: 1%;
}
.a-troisieme-section {
  text-decoration: none;
  color: black;
}
.images {
  width: 100%;
  border-radius: 10%;
}
.new {
    border-radius: 10%;
    padding: 5px 10px;
    right: 8%;
    margin-top: 15px;
    position: absolute;
    background-color: #99e2d0;
    color: #2c9c81;
    font-size: 1rem;
    font-weight: bold;
}
